body,
html {
    color: white;
    background-color: rgb(49, 49, 49);
    font-family: "Dongle", sans-serif;
    font-style: normal;
    align-items: center;
    margin: 0;
}

.TopBar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo .Logo-Link {
    text-decoration: none;
    color: white;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: 5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icon {
    width: 5rem;
    height: 5rem;
    padding-bottom: 0.5rem;
}

.filtered-svg {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(299deg) brightness(102%) contrast(102%);
}

.User-Corner {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 15px;
}

.User-name {
    font-size: 2.5rem;
    padding-right: 2rem;
}

.round-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 0 20px;

    width: 5rem;
    height: 3rem;

    background-color: #1DB954;
    color: black;
    text-decoration: none;
    font-family: "Dongle";
    font-size: 2.3rem;
    font-weight: 500;

    border-radius: 6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.round-link:hover {
    background-color: #14813a;
}

@media (max-width: 850px) {
    .TopBar {
        flex-direction: column;
        align-items: center;
    }

    .Logo {
        padding: 0;
        font-size: 10vw;
        gap: 3vw;
    }

    .icon {
        width: 9vw;
        height: 9vw;
    }

    .User-Corner {
        flex-direction: column;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .round-link {
        width: 10vw;
        height: 6vw;
        font-size: 4vw;
    }

    .User-name {
        font-size: 9vw;
        padding: 0 0 2vw 0;
    }
}